/* Responsive Breakpoints */
$breakpoint-mobile: 729px;

/* Font */
$font-default: 'Jura', sans-serif;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
$font-black: 900;

/* Colors */
$color-white: #FFFFFF;
$color-black: #000000;
$color-brand: #FF675B;
$color-blue: #198ebb;
